name: KONGUARD CI

on:
  push:
    branches: [ main, dev ]
  pull_request:

jobs:
  powershell-lint:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install PSScriptAnalyzer
        shell: pwsh
        run: |
          Install-Module PSScriptAnalyzer -Force -Scope CurrentUser

      - name: Run PSScriptAnalyzer
        shell: pwsh
        run: |
          Invoke-ScriptAnalyzer `
            -Path . `
            -Recurse `
            -Severity Warning `
            -ExcludeRule PSAvoidUsingWriteHost
